# Exploring Data From the Web

### Introduction

In the last lesson, we saw how to work with nested data.  Specifically, we saw how to work with a list of nested dictionaries.

In [1]:
cities = [{'City': 'New York City', 'State': 'New York', '2018_estimate': 8398748},
           {'City': 'Los Angelos', 'State': 'California', '2018_estimate': 399456}]

And we saw that we can think of working from the outer layers in to reach our data.  So for example, we went from a list of dictionaries, to an individual dictionary, to an attribute inside of that dictionary.

`cities -> first_city -> 2018_estimate`

In [2]:
cities[0]['City']

'New York City'

The reason why working with nested data structures is so important is because it is a natural form to store tabular data (tabular data in the form of a table).

<img src="./cities-chart.png">

And there is a lot of tabular data in this world.  Let's go get some.

## Introducing Pandas

To collect our tabular data, we'll use a library called pandas.  We don't need to install it, as it is pre-installed in our coding environment.  We can tell Python, that we would like to use pandas in this specific notebook with the following line of code.

In [1]:
import pandas

> Press shift + enter on the cell above.

Now let's take a look at some of the methods we have in pandas.

In [ ]:
pandas.read

> Place your cursor after the dot and press tab a couple of times to see the list of methods.

There are a lot of methods in pandas that are designed to allow us to read data.  For example, there are methods for `read_excel`, `read_csv`, `read_json`.  We want the method to `read_html`.

Oftentimes, we don't like to type the full word `pandas`, so the standard practice is that instead loading our library with the line `import pandas`, we instead use:

In [11]:
import pandas as pd

This is setting the `pandas` library to the variable `pd`.  So now we can get our pandas methods with `pd.method_name()`.

In [17]:
# pd.read_csv

### Gathering Data

Ok, time to get some data.  For now, let's work with our list of US cities.  That data is located [here](https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population).

<img src="./cities-chart.png">

Now, what we want is to tell pandas to go to that webpage, and read the data on the webpage.  We can do this by first identifying the URL, or web address at the top of the page.

<img src="./us-cities-url.png" width="60%">

You see the very top, it says, `en.wikipedia.org/wiki/List_of_United_states_cities_by_population`?  

That's our URL.  

We can copy the URL simply by clicking on it, and pressing `ctl+c` or `command+c` on a mac, and then paste what we copied with `ctl+v` or `command+v`.  Ok, now all we need to do use that URL as an argument of our method, and we'll store the result in the variable `tables`.

In [24]:
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
tables = pd.read_html(url)

Now `tables` is just a list of all of the tables that were gathered from that webpage.

In [25]:
type(tables)

list

And we can move one by one through each table simply by using our index accessor.

In [27]:
tables[0]

                                          0
0  Map all coordinates using: OpenStreetMap
1        Download coordinates as: KML · GPX

So we just selected the first table on the webpage.  Unfortunately, it's not what we want, so let's move to the next one.

In [28]:
tables[1]

                     Population tablesof U.S. cities
0                                             Cities
1  Population AreaDensityEthnic identityForeign-b...
2                                        Urban areas
3             Populous cities and metropolitan areas
4                                 Metropolitan areas
5  569 Primary Statistical Areas175 Combined Stat...
6                                        Megaregions
7     See alsoNorth American metro areasWorld cities
8                                                vte

Still no good.

In [29]:
tables[2]

                                                   0
0  Map this section's coordinates using: OpenStre...
1                 Download coordinates as: KML · GPX

Nope.

In [31]:
tables[3]

    0                               1
0 NaN                   State capital
1 NaN              State largest city
2 NaN  State capital and largest city
3 NaN                 Federal capital

Keep going.

In [35]:
tables[4][0:2]

,2018rank,City,State[c],2018estimate,2010Census,Change,2016 land area,2016 land area.1,2016 population density,2016 population density.1,Location
0,1,New York[d],New York,8398748,8175133,+2.74%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3990456,3792621,+5.22%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W

That's a bingo!

We sliced the first few rows by tagging on `[0:2]` to avoid looking at the entire table.  But you can just eliminate those characters if you'd like to view the whole thing.

Because that the table we want, let's store it in a variable called `cities_table`.

In [42]:
cities_table = tables[4]

### Converting to Python

Now right now, the issue that we have is that our table is in a format that we don't understand.

In [43]:
type(cities_table)

pandas.core.frame.DataFrame

But that's ok, we don't need to understand it, all we need to do is to convert it to something that we do understand: a list of dictionaries.   Once again, we'll just look at the first couple of elements by slicing.

In [47]:
cities = cities_table.to_dict('records')

cities[0:2]

[{'2018rank': 1,
  'City': 'New York[d]',
  'State[c]': 'New York',
  '2018estimate': 8398748,
  '2010Census': 8175133,
  'Change': '+2.74%',
  '2016 land area': '301.5\xa0sq\xa0mi',
  '2016 land area.1': '780.9\xa0km2',
  '2016 population density': '28,317/sq\xa0mi',
  '2016 population density.1': '10,933/km2',
  'Location': '40°39′49″N 73°56′19″W\ufeff / \ufeff40.6635°N 73.9387°W'},
 {'2018rank': 2,
  'City': 'Los Angeles',
  'State[c]': 'California',
  '2018estimate': 3990456,
  '2010Census': 3792621,
  'Change': '+5.22%',
  '2016 land area': '468.7\xa0sq\xa0mi',
  '2016 land area.1': '1,213.9\xa0km2',
  '2016 population density': '8,484/sq\xa0mi',
  '2016 population density.1': '3,276/km2',
  'Location': '34°01′10″N 118°24′39″W\ufeff / \ufeff34.0194°N 118.4108°W'}]

Now a good tip for identifying this as a list of dictionaries pretty quickly is by taking a close look at the first two characters in our data structure.  Here we see:

`[{`

Remember that square brackets `[` are for the list, and squiggly brackets are for the dictionary.  So this is telling us it is starting with a list, and then moves to a dictionary.  Or in other words the first element of that list is a dictionary.  From there, we can just take a guess that every other element is also a dictionary.  If we're wrong about this guess, then we'll find out were wrong, and will change our code :)

### Practicing with data from the web

Now we're going to let you perform some activities with this data in a minute.But before moving on, let's summarize what we did to get our list of dictionaries.

In [49]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
tables = pd.read_html(url)
cities_table = tables[4]
cities = cities_table.to_dict('records')

> Press `shift + enter` on the line above

In the code above, we told to look for tables from the Wikipedia website, with the `pd.read_html` line.  Then once we gathered our tables, we saw that the last table -- located at index 4 -- was the large table of cities and populations, so we stored it as our `cities_table`.  Then because this cities table is a `pandas dataframe` -- whatever that is -- we converted it to a list of dictionaries, with the line `cities_table.to_dict('records')`.

In the next lesson, we'll have a lab practicing this entire procedure, but for now let's get some practice working with this data.

Try the following below:

1. Select the first element from the list (we did this one for you)

2. Select the `2018estimate` from the first element in the list

3. Select `2018estimate` from the second element in the list.

3. Slice the first two elements of the list with the line `cities[0:2]`.  Then practice slicing more elements.

4. Select the first element from the list, and see the keys in that first dictionary with the `.keys` method.

In [51]:
cities[0]

{'2018rank': 1,
 'City': 'New York[d]',
 'State[c]': 'New York',
 '2018estimate': 8398748,
 '2010Census': 8175133,
 'Change': '+2.74%',
 '2016 land area': '301.5\xa0sq\xa0mi',
 '2016 land area.1': '780.9\xa0km2',
 '2016 population density': '28,317/sq\xa0mi',
 '2016 population density.1': '10,933/km2',
 'Location': '40°39′49″N 73°56′19″W\ufeff / \ufeff40.6635°N 73.9387°W'}

### Summary

In this lesson, we saw how to gather some live data from the web.  We did this in just a few lines:

In [52]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
tables = pd.read_html(url)
cities_table = tables[4]
cities = cities_table.to_dict('records')

These gathered a list of tables from the specified URL.  Then once we gathered our tables, we stored the large table of cities and populations as our `cities_table`.  Then because this cities table is a `pandas dataframe` -- whatever that is -- we converted it to a list of dictionaries, with the line `cities_table.to_dict('records')`.  From there, we could work with our list of cities, stored as the variable `cities`.